.parallax_container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  transition: all 0.4s;
  // > img {
  //   // object-fit: contain;
  //   opacity: 0.7;
  //   width: 100%;
  //   // height: 50rem;
  // }
  display: flex;
  justify-content: center;
  align-items: center;
  .parallax_content_wrapper {
    // position: absolute; /* Place content over the image */
    // z-index: 10;
    // text-align: center;
    // height: 100vh;
  }
}

.bg {
  position: absolute; // not fixed!
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-attachment: fixed; // TRUE fixed behavior
  will-change: transform;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  text-align: center;
  font-size: 3rem;
}

// .parallax {
//   position: relative;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-attachment: scroll; // using manual parallax, more performant than fixed

//   display: flex;
//   justify-content: center;
//   align-items: center;

//   overflow: hidden;

//   .overlay {
//     color: white;
//     padding: 2rem 3rem;
//     border-radius: 12px;
//     background: rgba(0, 0, 0, 0.35);
//     backdrop-filter: blur(6px);
//     transition: transform 0.2s ease-out; // SMOOTH
//     text-align: center;
//     max-width: 800px;
//   }
// }
