@import "variables";

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
@mixin glass {
  background: var(--glass-bg);
  backdrop-filter: blur(20px);
}

@mixin shadow-strong {
  filter: drop-shadow(0 20px 40px var(--shadow-strong));
}
